<!DOCTYPE html>
<!-- $http service is analogous to the xmlhttp object in javascript that is the base of AJAX-->
<!-- ng-init let you store data in your HTML itself to be used in Angular, usually not employed due to controllers -->
<html lang="en"><!-- ng-app name will be added in angular.module in the controller-->
<!-- <html lang="en" ><!-- When there are more scopes is hard to pass data betwen scopes; how to fix that -->
<head>
<meta charset="UTF-8">
<title>Angular JS Tutorial| Passing data between different scopes</title>
<!-- ng-include will help to split and organize different sections of the document same as include in php-->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<!-- <script src="angular-route.min.js"></script> -->
<script src="controller5.js"></script>
</head>
<body ng-app="mainApp">
<input type="text" ng-model="message1"/>
<!-- since ng-repeat creates its own sub-scope, will come handy for this tutorial; in example accessing person.Name as in index18 from outside the ng-repeat will cause an error -->
<span ng-repeat="j in [1, 2]">{{j}}</span>{{j}}<br/>
<!-- the {{i}} outside the ng-repeat is not populated as is outside the sub-scope-->
<span ng-repeat="i in [1]">
<input type="text" ng-model="message1"/><br/>
you wrote: {{message1}}<br/>
</span>
[outside span]You wrote: {{message1}}<br/>

<!-- One way to fix this is to access a property of the global one so that the property is overridden in the scope everywhere -->
<p>The Fix:</p>
<input type="text" ng-model="message.property"/>

<span ng-repeat="k in [1]">
<input type="text" ng-model="message.property"/><br/>
you wrote: {{message.property}}<br/>
</span>
[outside span]You wrote: {{message.property}}<br/>

</body>
</html>